html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 50px;
    background: #b3b3b3;
    position: relative;
    padding: 0 20px 0 20px;
}

a {
    color: #4d9487;
    text-decoration: none;
}

a:hover {
    color: #00F;
    text-decoration: none;
}

.test {
    position: fixed;
    top: 0;
    opacity: .8;
}

.hello-name{
    color: #1b1b1b;
    margin-left: 90%;
    line-height: 50px;
}

.menu {
    float: left;
    margin-right: 50px;
    position: relative;
    z-index: 0;
}

.menu a {
    line-height: 50px;
    width: 100px;
    /*display:inline;*/
    float: left;
    list-style: none;
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    color: #00F;
    text-decoration: none;
    float: left;
}

.comeback {
    float: left;
    line-height: 50px;
}

.a{
    position: relative;
    padding:50px;
}



/***************************/

input {
    padding: 4px 10px;
    background: #dfdfdf;
    border: 1px;
    border-radius: 4px;
}