
.top {
    background-color: #0091BA;
    width: 100%;
    height: 40px;
    color: #FFFFFF;

}
.top2{
    float: right;

}
.topimg{
    background-image: url('/php/assets/img/topimg.png');
    margin-top: 0px;
    height: 500px;
    width: 100%;
}
.topimg2{
    margin: 0px;
}
.toplogo{
    margin: 30px;
}
ul li{
    margin: 30px ;
}
.topmessage{
    float: right;
    font-family:Microsoft JhengHei;
    background-color: #DCEEFA;
    word-spacing: 20px; //字或段落間的水平距離
}
.news{
    width: 100%;
    height: 100px;
    text-align:center;
    font-size:40px;
    color:#12335D;
    font-family:Microsoft JhengHei;
    font-weight: 900;
    letter-spacing:1px; //文字間距離
}
.icon{
    padding:30px;
    text-align: center;
    letter-spacing:100px;
    margin: 30px;
}
.text{
    letter-spacing:0px;
    word-spacing: 20px;
}
.footer{
    background-color: #0091BA;
    width: 100%;
    height: 120px;
    margin-bottom:0px;
}
input{
    margin-left: 100px;
    margin-top: 40px;
    background-color:transparent;
    width:200px;
    height:30px;
    border: 1px solid #FFFFFF;
    letter-spacing:2px;

}
button{
    border-radius:6px;
    width:60px;height:30px;
    background:#Fdfdfd;
}
body{
    line-height: 2;
    margin: 0px; /*緊貼頂部(上下左右)，沒有空隙*/
}
